* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1{
  text-align: center;
  font-size: 3.5em;
  padding:1rem;
}
nav#menuPpal ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav#menuPpal li{
  padding: 5%;
  width: 22%;
}
nav#menuPpal li:hover {
  background-color: hsla(0, 0%, 50%, 0.507);
}
a > figure {
  color: black;
  font-size: 1.2rem;
  text-align: center;
}

figure > img {
  width: 80%;
  
}
nav#menuPpal figure > figcaption{
  padding: 0.5rem;


}

@media (max-width:768px){

  nav#menuPpal li{
    padding: 5%;
    width: 36%;
  }
}